@{
    ViewBag.Title = "Error";
}

<div style="margin: 0px auto;position: relative;padding-left: 0.9375rem;padding-right: 0.9375rem;margin-top:100px;
    width: 45.3333%;">
    <label>Se ha producido un erro a la hora</label>
</div>

